*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
}

main {
  height: 100vh;
}

.sidebar {
  width: 0px;
  height: 100vh;
  background-color: rgb(201, 38, 38);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
}

button {
  width: 50px;
  height: 50px;
  border: 2px solid #00000050;
  background-color: transparent;
  border-radius: 360px;
  cursor: pointer;
}

.sidebar-item {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 1em;
  align-items: center;
  cursor: pointer;
}

.drawboard {
  flex: 1;
  overflow: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  white-space: nowrap;
}

.center {
  text-align: center;
}

#myCanvas {
  border: 1px solid #00000050;
  box-shadow: 0px 0px 100px 0px #00000050;
}

.grid-colores {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-right: 40px;
}

.backGray{
  background-color: gray;
}

.interface{
  background-color: gray;
}

input[type="color"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  appearance: auto;
  border-radius: 360px;
  width: 50px;
  height: 50px;
  transform: translate(-25%, -25%);
  background-color: buttonface;
  color: buttontext;
  padding: 1px 2px;
}

 header{
  background-color: gray;
 }

 .grid-tools{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.2rem;
  white-space: nowrap;
  margin: 0px 010px 0px 10px;
 }

.navbar {
  margin-top: 0px;
  margin-bottom: 150px;
  height: auto;
  background-color: gray;

}

.active {
  border: 5px solid violet;
}

.button-18 {
  align-items: center;
  background-color: transparent;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 15px;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:active {
  background: transparent;
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

button {
  margin: 5px;
}

#background,
#myCanvas {
  top: 20vh;
  left: 20px;
  position: fixed;
}

button:hover {
  background-color: #16437e;
  border-color: #ffffff;
  color: #ffffff;
}

.activeTool {
  filter: invert(24%) sepia(97%) saturate(1991%) hue-rotate(197deg)
    brightness(91%) contrast(92%);
}

.activeTool:hover {
  filter: none;
}
.shape {
  width: 25px;
  height: 25px;
  border: 2px;
}

.button-18:hover .activeTool:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(148deg)
    brightness(105%) contrast(101%);
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  background-color: transparent;
  border-radius: 360px;
  cursor: pointer;
}

.navbar::-webkit-scrollbar {
	height: 7px;
}

.navbar::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
}

body,html{
  overflow-y: hidden;
}

